<div class="container">
    <ul class="nav-list">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">
                <i class="bi bi-house-door"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/students" routerLinkActive="active">
                <i class="bi bi-person"></i> Students
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/absence" routerLinkActive="active">
                <i class="bi bi-calendar"></i> Absences
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/setting" routerLinkActive="active">
                <i class="bi bi-gear"></i> Setting
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/demo" routerLinkActive="active">
                <i class="bi bi-lightbulb"></i> Demo
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
                <i class="bi bi-box-arrow-right"></i> Login
            </a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
