<div class="student-list-component ">

<h1 class="list-header">Student List</h1>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="activeCheckbox" #check (change)="ShowStudentActive(check.checked)">
                <label class="form-check-label" for="activeCheckbox">Show active students</label>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="search-container">
                <input id="searchInput" placeholder="Search by name"  type="search" class="form-control" #name (input)="filterBySearch(name.value)" />
            </div>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let student of students">
        <div class="row align-items-center">
            <div class="col-md-1">
                <p>ID: {{ student.id }}</p>
            </div>
            <div class="col-md-2">
                <p>Name: {{ student.firstName }} {{ student.lastName }}</p>
            </div>
            <div class="col-md-2">
                <p>Address: {{ student.address }}</p>
            </div>
            <div class="col-md-2">
                <p>Phone: {{ student.phone }}</p>
            </div>
            <div class="col-md-2">
                <p>Avg Mark: {{ student.avgMark }}</p>
            </div>
            <div class="col-md-2">
                <p>Missing: {{ student.id ? allDaysAbsence(student.id) : 0 }} days</p>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button class="btn btn-sm btn-info" (click)="showDetails(student.id)">Details</button>
                    <button class="btn btn-sm btn-warning" (click)="updateStudent(student.id)">Update</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteStudent(student)">Delete</button>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="button-container text-center"> <!-- סידור הכפתורים במרכז -->
    <button class="btn btn-primary" (click)="addNewStudent()">Add New Student</button>
    <button routerLink="/home" class="btn btn-success">Back To Home</button>
</div>
</div>
