<div class="container mt-5">
    <ul class="nav nav-tabs justify-content-center mb-4">
        <li class="nav-item">
            <a class="nav-link" routerLink="/setting/account" routerLinkActive="active">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/setting/favorites" routerLinkActive="active">Favorites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/setting/profile" routerLinkActive="active">Profile</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
